name: CI

on:
  push:
  pull_request:

permissions:
  contents: read

jobs:
  test:
    uses: ./.github/workflows/test-unit.yml

  lint:
    uses: ./.github/workflows/test-lint.yml

  format:
    uses: ./.github/workflows/test-format.yml
