name: lint

on:
  workflow_call:

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: 1.22.x
          cache: true
      - uses: golangci/golangci-lint-action@v9
        with:
          version: latest
          args: --timeout=5m
